.post{min-height: 735px;}
.tab{
    font-size:17px;
    margin-top: 5%;
    // margin-bottom: 51%;
}

.nav-tabs>li>a {color: yellowgreen;}
img{border-radius: 50%}
.card{color:gray;overflow:hidden;font-size:12px}
a{font-size:17px;color:yellowgreen;text-decoration: none;}
.fa-thumbs-o-up{font-size:30px;color:rgb(190, 251, 97);cursor: pointer;


}
@media (max-width: 767px ){/* mobile & tablet*/
   
    
    }
    @media (min-width: 768px) and (max-width:991px){ /* small screen */
    
    
    
    }
    @media (min-width: 992px) and (max-width:1199px) { /* medium screen */
    
    
    }
